<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center divider-grey relative">

	<!-- Logo -->
	<!-- class="pa3 db mr4 h-100 w3 flex-none" -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Visible logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex nav li">
	<!--<ul class="flex b grey-3"> -->

		<li><a href="https://visible.is/#lvsm" class="pa3 no-underline db">Value Stream Mapping</a></li>
		<li><a href="https://visible.is/#visibleapproach" class="pa3 no-underline db">The Visible Approach</a></li>
		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>
		<li><a href="https://visible.is/#about" class="pa3 no-underline db">About Us</a></li>
		<li><a href="https://visible.is/#contact" class="pa3 no-underline db">Contact Us</a></li>

	</ul>

</nav>
